:root {
  --background: #ffffff;
  --foreground: #171717;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* Elements */
.button {
  display: inline-block;
  padding: 10px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-mulish);
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  background: #71b2abff;
  opacity: 1;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
}

.button.outline {
  color: #71b2abff;
  background: #fff;
  opacity: 1;
  border-radius: 2px;
  border: 2px #71b2abff solid;
  box-sizing: border-box;
}

.button:hover {
  color: #fff;
  background: #50958eff;
}

.button:active {
  color: #fff;
  background: #45807bff;
}

.button:disabled {
  opacity: 0.4;
}
